* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name-plate {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}

button {
    padding: 2px;
    margin: 10px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 35%;
}
.score {
    border: 2px solid black;
    height: 10%;
    padding: 10px;
    width: 30%;
}

.reset-btn {
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
}

.canvas {
    text-align: center;
}

button:hover {
    background-color: gray;
    
}